@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Music DataBase</h1>
   <h3>Base de dados de musicas inseridas pelos artistas e para consulta dos fãns.</h3>
</div>
<div class="text-center">
    <h1 class="display-6">Projeto TI2 - Ano letivo 2020/21</h1>
    <h3>Licenciatura Engenharia Informática</h3>
    <h3>Fernando Silva - 20796</h3>
</div>
